<div class="container">
  <div class="content">
    <h2 data-test="title">
      <span class="fashion">Fashion</span>
      <span class="carnival">Carnival</span>
      <span class="year">2022</span>
    </h2>
    <p data-test="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae bibendum felis, sodales vestibulum mauris. Fusce eu nibh ligula. Integer neque tortor, semper quis urna a, fringilla vestibulum tortor. </p>
    <div>
      <button data-test="shop-now-button">Shop Now</button>
    </div>
  </div>
</div>
