@use 'variables' as var;
@use 'mixins' as mix;
@use 'functions' as fn;



/******************************************************************************
*   Layout
*******************************************************************************/

.hero {
  width: fn.em(600px);
  margin: fn.em(265px) 0 fn.em(265px) fn.em(65px);
  display: flex;
  flex-direction: column;

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__description {
    margin: fn.em(20px);
  }

  &__button {
    @include mix.primary-button(fn.em(15px), fn.em(20px));
    width: fn.em(200px);
  }

}




/******************************************************************************
*   Styles
*******************************************************************************/

%word-format {
  font-weight: 800;
  text-transform: uppercase;
  line-height: 0.75;
}

.hero {
  &__title {
    &--fashion {
      @extend %word-format;
      font-size: 12.1rem;
      letter-spacing: -1rem;
    }

    &--carnival {
      @extend .hero__title--fashion;
      color: var.$fushcia;
    }

    &--year {
      @extend %word-format;
      font-size: 5rem;
      @include mix.fix-letter-spacing-centering(7.5rem);
    }
  }

  &__description {
    line-height: 2.5rem;
    text-align: center;
  }

}