@use 'variables' as var;
@use 'mixins' as mix;

@mixin word-format {
  font-weight: 800;
  text-transform: uppercase;
  display: block;
  line-height: 0.75;
  text-align: center;
  margin-left: -40px;   // remove space that is naturally present in the character from container
}

.content {
  width: 600px;
  display: flex;
  flex-direction: column;
  padding: 265px 0 265px 65px;

  h2 {
    display: flex;
    flex-direction: column;

    .fashion {
      @include word-format();
      font-size: 12.1rem;
      letter-spacing: -10px;
    }

    .carnival {
      @include word-format();
      font-size: 12.1rem;
      letter-spacing: -10px;
      color: var.$fushcia;
    }

    .year {
      @include word-format();
      color: var.$black;
      font-size: 5rem;
      letter-spacing: 75px;
      margin-left: 60px;
      text-align: center;
    }
  }

  p {
    line-height: 1.5em;
    text-align: justify;
  }

  button {
    @include mix.primary-button(15px, 20px);
    width: 200px;
    align-self: center;
  }

}
