@use 'variables' as var;
@use 'mixins' as mix;


:host {
  @include mix.translucent-white-background();
}

.container {
  display: flex;
  align-items: center;
  line-height: 6rem;
  border-bottom: 1px solid var.$black;
}

.hello {
  flex-grow: 1;
}

.email {
  flex-grow: 2;
}

.language {
  font-weight: bold;
  margin: 0 10px;
}

.currency {
  font-weight: bold;
  margin: 0 10px;
}
