@import 'src/assets/scss/variables';

@mixin navigation-button {
  background-color: red;
  border: 0;
  border-radius: 1rem;
  width: 2.2rem;
  height: 2.2rem;

  > svg {
    fill: white;
    height: 1.5rem;
  }
}



header {
  align-self: center;
  text-align: center;

  .title {
    font-weight: 900;
    font-size: 2.6rem;
    text-transform: uppercase;
    margin: 0;
  }

  .description {
    margin: 1.5rem 0 2.5rem;
  }
}


.featured-products {
  > * {
  display: flex;
  justify-content: space-between;
  margin: 0 5rem;
  }

  .featured-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0 3rem;

    .product {
      font-weight: bold;
      font-size: 1.8rem;
      margin: 2rem 0 1rem;
    }

    .brand {
      margin-bottom: 2rem;
    }

    .rating {
      width: 100%;
      text-align: center;

      > svg {
        width: 2.5rem;
        fill: $yellow;
      }
    }

    .price {
      margin-top: 1rem;

      .original {
        margin: 0;
        text-decoration: line-through;
        color: grey;
      }

      .discounted {
        margin: 0;
        font-weight: bold;
      }
    }
  }

}

.product-navigation {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 5.5rem 0 10rem;

  .previous, .next {
    margin: 0.5rem;
    @include navigation-button();
  }

  .disabled {
    background-color: grey;
  }

}
