header-top-banner {
  background-color: violet;
  display: none;
}

header-welcome-bar {
  display: none;
  background-color: cyan;
}

header-logo-bar {
  background-color: chartreuse;
}

@media screen and (min-width: 1024px) {
  header-top-banner, header-welcome-bar, header-logo-bar {
    display: block;
  }
}

