@use 'variables' as var;
@use 'mixins' as mix;

:host {
  background: var.$fushcia;
  display: flex;
  flex-direction: column;
  color: var.$white;
}

a {
  color: var.$white;
}

ul {
  list-style-type: none;
  padding: 0;
}

.container {
  display: flex;
  padding-left: 20px;

  &:first-child {
    margin-top: 80px;
    gap: 50px;

    > :first-child {
      width: 30%;
    }

    > :nth-child(2) {
      width: 20%
    }

    > :nth-child(3) {
      width: 20%;
    }

    > :last-child {
      width: 30%;
    }

  }

  &:last-child {
    margin-bottom: 100px;
    flex-direction: column;
  }

}

.footer-title {
  margin: 0 0 30px;
  font-size: 2rem;
}

.list-menu {
  @include mix.arrange-items-vertically();

  li {
    line-height: 40px;
  }
}

.copyright {
  align-self: center;
}