<div class="container">
  <block-address class="about" data-test="address"></block-address>
  <block-account class="account" data-test="account"></block-account>
  <block-product class="product" data-test="product"></block-product>
  <div class="social-payments">
    <block-social-networks data-test="social"></block-social-networks>
    <block-payment class="payment" data-test="payment"></block-payment>
  </div>
</div>
<div class="container">
  <block-bottom-menu data-test="bottom-menu"></block-bottom-menu>
  <div class="copyright" data-test="copyright">&copy; Copyright 2022 | All Rights Reserved.</div>
</div>
