@use 'variables' as var;

@mixin hide-element() {
  display: none;
}

@mixin show-element($display-type: block) {
  display: $display-type;
}

@mixin translucent-white-background {
  background-color: rgba(var.$white, 0.5);
  backdrop-filter: opacity(0.5);
}

@mixin default-button($padding-x: 1rem, $padding-y: 1.5rem) {
  font-weight: 900;
  font-size: 2rem;
  padding: $padding-x $padding-y;
  border: 0;
}

@mixin primary-button($padding-x: 1rem, $padding-y: 1.5rem) {
  @include default-button($padding-x, $padding-y);
  background-color: var.$fushcia;
  color: var.$white;
}

@mixin arrange-items-vertically($item-padding-x: 0, $item-padding-y: 0) {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;

  li {
    padding: $item-padding-y $item-padding-x;
  }
}

@mixin arrange-items-horizontally($item-padding-x: 1rem, $item-padding-y: 1.5rem) {
  @include arrange-items-vertically($item-padding-x, $item-padding-y);
  flex-direction: row;
  align-items: center;
}

@mixin svg-mask-icon($svg-image-url, $diameter: 20px, $margin-right: 10px, $color: var.$white) {
  content: '......';
  background-color: $color;
  -webkit-mask: url($svg-image-url) no-repeat;
  mask: url($svg-image-url) no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  width: $diameter;
  height: $diameter;
  margin-right: $margin-right;
}