@use 'variables' as var;

@mixin hide-element() {
  display: none;
}

@mixin show-element($display-type: block) {
  display: $display-type;
}

@mixin translucent-white-background {
  background-color: rgba(var.$white, 0.5);
  backdrop-filter: opacity(0.5);
}

@mixin default-button($padding-x: 1rem, $padding-y: 1.5rem) {
  font-weight: 900;
  font-size: 2rem;
  padding: $padding-x $padding-y;
  border: 0;
}

@mixin primary-button($padding-x: 1rem, $padding-y: 1.5rem) {
  @include default-button($padding-x, $padding-y);
  background-color: var.$fushcia;
  color: var.$white;
}
