$white: white;
$yellow: #ffc808;
$violet: violet;
$beige: beige;
$fushcia: #f9236f;
$black: black;
$aqua: rgb(186, 232, 255);

// breakpoints
$desktop-breakpoint: 1024px;
$large-desktop-breakpoint: 1200px;

$background-url: '../../assets/backgrounds/';

