$white: white;
$yellow: #ffc808;
$fushcia: #f9236f;
$dark-pink: #E30655;
$black: black;
$aqua: rgb(186, 232, 255);
$pastel-blue: #D6EEF9;
$gray: #494949;
$dirty-white: #f7f7f7;

// breakpoints
$desktop-breakpoint: 1024px;
$large-desktop-breakpoint: 1200px;

// image locations
$background-url: "/assets/backgrounds/";
$featured-category-url: "/assets/featured-categories/";
$icons-url: "/assets/icons/";