@use 'variables' as var;
@use 'mixins' as mix;

$social-icons-url: var.$icons-url + 'social/';

$social-network-icons: (
  "facebook": $social-icons-url + 'facebook.svg', 
  "twitter": $social-icons-url + 'twiiter.svg', 
  "instagram": $social-icons-url + 'instagram.svg', 
  "youtube": $social-icons-url + 'youtube.svg', 
  "pinterest": $social-icons-url + 'pinterest.svg', 
  "tiktok": $social-icons-url + 'tiktok.svg'
);

.menu {
  margin: 0;
  display: block;
  @include mix.columns($no-of-columns: 2);
  
  @each $social-network, $image-url in $social-network-icons {
    .#{$social-network} {
      line-height: 30px;

      a {
        &::before {
          @include mix.svg-mask-icon($svg-image-url: $image-url, $color: var.$white)
        }
      }
    }
  }

}