@use 'variables' as var;
@use 'mixins' as mix;
@use 'functions' as fn;

$close-icon: var.$icons-url + 'header/xmark.svg';


/******************************************************************************
*   Layout
*******************************************************************************/

.top-banner {
  display: flex;

  &__message {
    flex-grow: 1;
  }
  
  &__close-button {
    display: inline-flex;
  }

}



/******************************************************************************
*   Styles
*******************************************************************************/

:host {
  background: var.$fushcia url(var.$background-url + 'banner.jpg') no-repeat;
}


.top-banner {
  &__message {
    line-height: 7.5rem;
    font-weight: bold;
    color: var.$white;
  }
  
  &__close-button {
    @include mix.default-button(fn.em(10px), fn.em(10px));
    border-radius: fn.em(25px);
    background: var.$white;

    &::before {
      @include mix.svg-mask-icon($svg-image-url: $close-icon, $margin-right: 0);
    }
  }
}