@use 'variables' as var;

h1 {
  font-size: 2.6rem;
  font-weight: 900;

  a {
    color: var.$black;
  }
}

nav {
  a {
    font-weight: bold;
    font-size: 1.6rem;
    text-decoration: none;
  }
}

.search > svg, .shopping-cart > svg, .hamburger-menu > svg {
  width: 2rem;
  height: 2rem;
  padding: 0 1rem;
}

.search {
  position: relative;

  modal-search {
    position: absolute;
    background: var.$white;
    right: 0;
    top: 4.5rem;
    width: 20rem;
    z-index: 100000;
    padding: 2.5rem;
  }
}



@media screen and (min-width: var.$desktop-breakpoint) {
  .container {
    display: flex;
    align-items: center;

    > * {
      display: inline-block;
    }

    h1 {
      margin: 0;
      flex-grow: 1;
    }

    li {
      display: inline-block;
      padding: 1rem;
    }

    button {
      display: none;
    }
  }

}
