@use 'variables' as var;
@use 'mixins' as mix;
@use 'functions' as fn;

$icon-diameter: 20px;
$icon-url: var.$icons-url + 'header/';

$search-icon: $icon-url + 'search.svg';
$shopping-cart-icon: $icon-url + 'shopping-cart.svg';
$hamburger-icon: $icon-url + 'hamburger.svg';

@mixin icon {
  width: $icon-diameter;
  height: $icon-diameter;
  margin: 15px;
}



/******************************************************************************
*   Layout
*******************************************************************************/

.logo-bar {
  display: flex;
  align-items: center;

  &__title {
    margin: 0;
    flex-grow: 1;
  }
  
  &__list-item {
    display: inline-block;
    padding: 1rem;
  }
  
  &__search {
    position: relative;
  }

}




/******************************************************************************
*   Styles
*******************************************************************************/

:host {
  @include mix.translucent-white-background();
}

.logo-bar {

  &__title {
    font-size: 2.6rem;
    font-weight: 900;
  }

  &__logo-link {
    color: var.$black;
  }
  
  &__menu-link {
    font-weight: bold;
    font-size: 1.6rem;
    text-decoration: none;
  }
  
  &__search {
    @include mix.transparent-button($padding-x: fn.em(15px));
  
    &::before {
      @include mix.svg-mask-icon($svg-image-url: $search-icon, $margin-right: 0);
    }
  }
  
  &__shopping-cart {
    @extend .logo-bar__search;
  
    &::before {
      @include mix.svg-mask-icon($svg-image-url: $shopping-cart-icon, $margin-right: 0);
    }
  }
  
  &__hamburger-menu {
    @extend .logo-bar__search;
  
    &::before {
      @include mix.svg-mask-icon($svg-image-url: $hamburger-icon, $margin-right: 0);
    }
  }

}

