@use 'variables' as var;
@use 'mixins' as mix;

$icon-diameter: 20px;

@mixin icon {
  width: $icon-diameter;
  height: $icon-diameter;
  margin: 15px;
}


:host {
  @include mix.translucent-white-background();
}

h1 {
  font-size: 2.6rem;
  font-weight: 900;

  a {
    color: var.$black;
  }
}

nav {
  a {
    font-weight: bold;
    font-size: 1.6rem;
    text-decoration: none;
  }
}

.search {
  position: relative;
  @include icon();
}

.shopping-cart {
  @include icon();
}

.hamburger-menu {
  @include icon();
}



@media screen and (min-width: var.$desktop-breakpoint) {
  .container {
    display: flex;
    align-items: center;

    h1 {
      margin: 0;
      flex-grow: 1;
    }

    li {
      display: inline-block;
      padding: 1rem;
    }

    button {
      display: none;
    }
  }

}

:host ::ng-deep svg {   // DEPRECATED
  width: 100%;
  height: 100%;
}