<div class="container">
  <h1 data-test="logo"><a routerLink="/">MeStore</a></h1>
  <nav data-test="menu">
    <menu>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/shop">Shop</a></li>
      <li><a routerLink="/product">Product</a></li>
      <li><a routerLink="/blog">Blog</a></li>
      <li><a routerLink="/portfolio">Portfolio</a></li>
      <li><a routerLink="/page">Page</a></li>
    </menu>
  </nav>
  <span class="search" data-test="search" (click)="openSearchModal()">
    <span [innerHTML]="searchIcon"></span>
    <modal-search *ngIf="isShowSearch"></modal-search>
  </span>
  <span class="shopping-cart" data-test="shopping-cart" 
    [innerHTML]="shoppingCartIcon"></span>
  <button class="hamburger-menu" data-test="hamburger" 
    [innerHTML]="hamburgerIcon"></button>
</div>
