@use 'variables' as var;
@use 'mixins' as mix;

$category-image-url-1: 'category1.jpg';
$category-image-url-2: 'category2.jpg';

.featured-category {
  margin: 0 2rem 2rem;
  // background: var.$pastel-blue;
  background-size: contain;
  padding: 5rem 25rem 3.5rem 4rem;

  .featured-category-1 {
    background: transparent url(var.$featured-category-url + $category-image-url-1) no-repeat right;
  }

  .featured-category-2 {
    background: transparent url(var.$featured-category-url + $category-image-url-2) no-repeat right;
  }

  .title {
    display: flex;
    flex-direction: column;
    margin: 0;
    line-height: 0.85;
    letter-spacing: -2px;

    > span {
      font-weight: 800;
      font-size: 4.8rem;
    }

    > span:last-child {
      color: var.$fushcia;
    }
  }

  .content {
    color: var.$gray;
  }

  .shop-button {
    @include mix.primary-button();
  }
}
