<div *ngFor="let category of categories" class="featured-category" 
  data-test="featured-category" 
  [ngStyle]="{ 
    'background': 'transparent url(' + category.backgroundImageUrl + ') no-repeat right',
    'background-size': 'contain'
   }">
  <h5 data-test="title" class="title">
    <span>{{ category.titleLine1 }}</span>
    <span>{{ category.titleLine2 }}</span>
  </h5>
  <p data-test="content" class="content">
    {{ category.content }}
  </p>
  <button data-test="button" class="shop-button" [routerLink]="['/shop']" >Shop Now</button>
</div>