<header>
  <h2 class="title">Featured Products</h2>
  <p class="description">Praesent mauris. Fusce nec tellus sed augue semper porta.</p>
</header>

<section class="featured-products">
  <tab-products-page-previous *ngIf="isDefault" [featuredProducts]="featuredProducts">
  </tab-products-page-previous>
  <tab-products-page-next *ngIf="!isDefault" [featuredProducts]="featuredProducts">
  </tab-products-page-next>
</section>

<section class="product-navigation">
  <button data-test="previous" class="previous" 
      [ngClass]="{ disabled: isDefault }" [disabled]="isDefault" (click)="showPrevious()"
      [innerHTML]="leftCaretIcon">
  </button>
  <button data-test="next" class="next" 
      [ngClass]="{ disabled: !isDefault }" [disabled]="!isDefault" (click)="showNext()"
      [innerHTML]="rightCaretIcon">
  </button>
</section>
