@use 'variables' as var;
@use 'mixins' as mix;

$payment-icons-url: var.$icons-url + 'payments/';

$payment-icons: (
  "mastercard": $payment-icons-url + 'mastercard.svg', 
  "discover": $payment-icons-url + 'discover.svg', 
  "amex": $payment-icons-url + 'amex.svg', 
  "visa": $payment-icons-url + 'visa.svg', 
  "stripe": $payment-icons-url + 'stripe.svg', 
  "diners": $payment-icons-url + 'diners.svg'
);

.menu {
  @include mix.arrange-items-horizontally($item-padding-y: 5px);
  
  @each $payment, $image-url in $payment-icons {
    li.#{$payment} {
      &::before {
        @include mix.svg-mask-icon($image-url, 30px, 0, var.$white);
      }
    }
  }

}

.footer-title {
  margin: 60px 0 0;
}