@use 'variables' as var;

// @media screen and (min-width: var.$desktop-breakpoint) {
  .container {
    display: flex;

    span {
      flex-grow: 1;
      line-height: 7.5rem;
      font-weight: bold;
      color: var.$white;
    }

    button {
      width: 5rem;
      height: 5rem;
      border-radius: 5rem;
      border: 0;
      background-color: var.$white;
      align-self: center;
      font-weight: bold;
    }
  }
// }

