

@media screen and (min-width: 1024px) {
  .container {
    display: flex;

    span {
      flex-grow: 1;
      line-height: 7.5rem;
      font-weight: bold;
      color: white;
    }

    button {
      width: 5rem;
      height: 5rem;
      border-radius: 5rem;
      border: 0;
      background-color: white;
      align-self: center;
      font-weight: bold;
    }
  }
}

