@use 'variables' as var;
@use 'mixins' as mix;

$button-radius: 35px;
$banner-background-image: var.$background-url + 'banner-background.jpg';


:host {
  background: var.$fushcia url($banner-background-image) no-repeat center top;
}

.container {
  display: flex;
}

span {
  flex-grow: 1;
  line-height: 7.5rem;
  font-weight: bold;
  color: var.$white;
}

button {
  @include mix.default-button(10px, 10px);
  width: $button-radius;
  height: $button-radius;
  border-radius: $button-radius;
  display: inline-flex;
  vertical-align: middle;
  background: var.$white;
}

:host ::ng-deep svg {   // DEPRECATED
  fill: var.$black;
  width: 100%;
  height: 100%;
}