@use 'variables' as var;
@use 'functions' as fn;


@mixin extend-categories-background {
  background-color: var.$white;
  margin-top: -15rem;
}

  section-hero.container {
    display: block;
  }



.featured-section {
  margin-top: - fn.em(160px);
  display: flex;
  flex-direction: column;

  .container {
    margin-top: -10rem;

    section-special-services {
      display: flex;
      justify-content: space-evenly;
    }

    section-featured-categories {
      display: flex;
      padding: 20rem 1rem 11rem;
      @include extend-categories-background();
    }

    section-featured-products {
      display: flex;
      flex-direction: column;
      background-color: var.$white;
    }
  }
}