<section-hero class="container" data-test="hero"></section-hero>
<section class="featured-section">
  <div class="container">
    <section-special-services data-test="special-services"></section-special-services>
    <section-featured-categories data-test="featured-categories"></section-featured-categories>
    <section-featured-products data-test="featured-products"></section-featured-products>
  </div>
  <section-latest-news data-test="latest-news"></section-latest-news>
  <block-brands data-test="brands"></block-brands>
  <block-popular-brands data-test="brand-logos"></block-popular-brands>
</section>
