@use 'variables' as var;
@use 'mixins' as mix;


$icons-url: var.$icons-url + 'about/';

$icons: (
  "pin": $icons-url + 'pin.svg', 
  "phone": $icons-url + 'phone.svg', 
  "email": $icons-url + 'email.svg', 
);


.menu {
  @include mix.arrange-items-vertically($item-padding-y: 5px);
  display: block;

  @each $icon, $url in $icons {
    .#{$icon} {
      line-height: 30px;

      &::before {
        @include mix.svg-mask-icon($svg-image-url: $url, $color: var.$white);
      }
    }
  }

}