<div class="special-service" data-test="special-service">
  <div class="icon" [innerHTML]="planeIcon"></div>
  <h6 class="title">Free Shipping</h6>
  <p class="description">With {{ 50 | currency: 'EUR' : 'symbol' : '1.0-0' }} or more orders</p>
</div>
<div class="special-service" data-test="special-service">
  <div class="icon" [innerHTML]="clockIcon"></div>
  <h6 class="title">Free Refund</h6>
  <p class="description">100% Refund Within 3 days</p>
</div>
<div class="special-service" data-test="special-service">
  <div class="icon" [innerHTML]="lifeRingIcon"></div>
  <h6 class="title">Support 24.7</h6>
  <p class="description">Call us anytime you want</p>
</div>