@use 'variables' as var;

.container {
  display: flex;
  align-items: center;
  line-height: 6rem;
  border-bottom: 1px solid var.$black;

  #welcome-bar-hello {
    flex-grow: 1;
  }

  #welcome-bar-email {
    flex-grow: 2;
  }

  #welcome-bar-language, #welcome-bar-currency {
    margin: 1rem;
  }
}

