section-hero {
  background: aqua;
  display: block;
}

.featured-section {
  background-color: beige;

  .container {

    > * {
      display: flex;

    }

    section-featured-products {
      flex-wrap: wrap;
    }
  }
}

@media screen and (min-width: 1024px) {
  section-hero {
    background: aqua url('/assets/hero-background.jpg') no-repeat;
    background-size: cover;
    margin-top: -12rem;
  }
}
