section-hero {
  background-color: aqua;
  display: block;
}

.featured-section {
  background-color: beige;

  .container {
    > * {
      display: flex;

    }

    section-featured-products {
      flex-wrap: wrap;
    }
  }
}
