@use "sass:map";
@use "variables" as var;
@use "mixins" as mix;
@use "background" as bg;



$container-width: 1170px;
$font-family: 'Montserrat', sans-serif;


// do not change, this is for convenience in converting px to rem
html {
  font-size: 62.5%; // 10px = 1 rem
}

body {
  font: 1.6rem $font-family;
  background: bg.$overall-background;
}

a {
  text-decoration: none;
  color: var.$black;
  cursor: pointer;
}

button {
  @include mix.default-button();
  cursor: pointer;
  align-self: center;
}

svg {
  fill: currentColor;
}

.no-banner {
  background: bg.$overall-background-no-banner;
}

@media screen and (min-width: var.$large-desktop-breakpoint) {
  .container {
    width: $container-width;
    margin: 0 auto;
  }
}

