/* You can add global styles to this file, and also import other style files */
@use 'variables' as var;
@use 'mixins' as mix;

$container-width: 1170px;
$font-family: 'Montserrat', sans-serif;


// do not change, this is for convenience in converting px to rem
html {
  font-size: 62.5%; // 10px = 1 rem
}

body {
  font: 1.6rem $font-family;
  background-color: var.$beige;
}

a {
  text-decoration: none;
  color: var.$black;
  cursor: pointer;
}

button {
  @include mix.default-button();
  cursor: pointer;
  align-self: center;
}

@media screen and (min-width: var.$large-desktop-breakpoint) {
  .container {
    width: $container-width;
    margin: 0 auto;
  }
}
