@use 'variables' as var;
@use 'mixins' as mix;

$border-gray: rgb(208, 208, 208);

.container {
  background-color: var.$white;
  display: flex;
  flex-direction: column;

  .brands-sale-section {
    display: flex;
    gap: 45px;
    justify-content: space-between;
    margin: 50px 30px;
    border-bottom: 1px solid var.$black;

    div {
      &:first-child {
        flex-grow: 1;
      }
  
      &:last-child {
        flex-grow: 1;
      }
    }

    .products-list {
      display: flex;
      flex-direction: column;
    }

    .column-title {
      font-size: 2.6rem;
      font-weight: 900;
      text-align: center;
      margin: 0 0 30px;
    }
  }

  .subscribe-email-section {
    display: flex;
    flex-direction: column;
    // see below for details
  }
}






.subscribe-email-section {
  // see above for overall layout
  text-align: center;
  padding: 80px 0 55px;

  .message {
    font-weight: 900;
    font-size: 2.6rem;

    + p {
      // margin: 0;
    }
  }

  form {
    display: flex;
    margin: 40px auto 0;

    input {
      border: 1px solid $border-gray;
      width: 525px;
      height: 40px;
    }

    button {
      @include mix.primary-button();
      width: 120px;
      height: 40px;
      font-size: 1.3rem;
      margin: 0 5px;
    }
  }
}