<div class="container">
  <section class="brands-sale-section">
    <ng-container *ngFor="let column of [1, 2, 3]">
      <div data-test="brand-products" *ngIf="(column === 1) || (column === 3)">
        <h5 class="column-title" data-test="title">Our Brands</h5>
        <block-brand-product data-test="product" [product]="product"
          *ngFor="let product of products">
        </block-brand-product>
      </div>

      <div class="sale" data-test="sale" *ngIf="(column === 2)">
        <img src="/assets/banners/center-banner.jpg" >
      </div>
    </ng-container>
  </section>

  <section class="subscribe-email-section">
    <div class="message">Never miss any fashion trending</div>
    <p>Praesent mauris. Fusce nec tellus sed augue semper porta.</p>
    <form>
      <input data-test="email-input">
      <button data-test="submit-button" disabled>Read More</button>
    </form>
  </section>
</div>