@use 'variables' as var;

$hero-background-image: var.$background-url + 'hero-background.jpg';

@mixin extend-categories-background {
  background-color: var.$white;
  margin-top: -150px;
  padding-top: 200px;
}


section-hero {
  background: var.$white;
  display: block;
}

.featured-section {

  .container {
    margin-top: -100px;

    > * {
      display: flex;

    }

    section-special-services {
      display: flex;
      justify-content: space-evenly;
    }

    section-featured-categories {
      padding: 0 10px;
      @include extend-categories-background();
    }

    section-featured-products {
      flex-direction: column;
      background-color: var.$white;
    }
  }
}

@media screen and (min-width: 1024px) {
  section-hero {
    background: var.$aqua url($hero-background-image) no-repeat;
    background-size: cover;
    margin-top: -15.1rem;
  }
}
